html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.tailwindcss.com")
    script(src='https://kit.fontawesome.com/1ad9241671.js' crossorigin='anonymous')
  body
    section.flex.w-screen
      section.flex.flex-col.bg-blue-700.h-screen.text-white(class='basis-1/4')
        .border-b.border-gray-400.h-16.px-2
          div Logo goes here
        .flex.items-center.border-b.border-gray-400.px-2.h-10(class='hover:bg-blue-400')
          i.fa.fa-area-chart.mr-2
          div Dashboard
        .flex.items-center.border-b.border-gray-400.px-2.h-10(class='hover:bg-blue-400')
          i.fa.fa-user-edit.mr-2
          div Admin Information
        .border-b.border-gray-400.p-2
          .pb-2 Business Management
          .flex.items-center.mb-2(class='hover:bg-blue-400')
            i.fas.fa-ship.mr-2
            div Boat Management
          .flex.items-center.mb-2(class='hover:bg-blue-400')
            i.fas.fa-wheelchair.mr-2
            div Client Management
          .flex.items-center.mb-2(class='hover:bg-blue-400')
            i.fas.fa-flag.mr-2
            div Tour Management
        .flex.border-b.border-gray-400.items-center.p-2.justify-center
          button.w-10.h-10.rounded-full.border.border-gray-300.bg-blue-200
          i.fas.fa-angle-left
      section(class='basis-3/4')
        nav.flex.justify-between.sticky.top-0.h-16.px-4
          .flex.items-center.max-w-lg
          input.border.border-gray-300.rounded-lg.h-12(type='text' placeholder='Search for...')
          button.bg-blue-500.h-12.w-16.rounded-lg(class='hover:bg-orange-600')
            i.fas.fa-search(style='font-size:24px')
          .flex.items-center
          .border-r.border-gray-400.flex
            button.pr-2
            i.fa.fa-bell
            button.pr-2
            i.fas.fa-envelope
          .flex.items-center
            .px-1 Hikari Goeno
            img.max-h-10.max-w-10.border.border-gray-300.rounded-full(src='./bRook.png' alt='avatar')
        block content
